* {
    margin: 0;
    font-family: 'VT323', monospace;
    transition: .5s;
}

.App h1 {
    margin: 10px 0 0 0;
    font-size: 60px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

#input {
    display: block;
    width: 50vw;
    height: 10vh;
    margin: 5px;
    resize: none;
    border: solid gainsboro 2px;
    border-radius: 5px;
}

.submit-btn {
    color: black;
    background-color: #f2f2f2;
    border-style: none;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .5s;
}

.submit-btn:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

.responses {
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: scroll;
    width: 60vw;
    height: 70vh;
}


.response {
    background-color: #f2f2f2;
    width: 95%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: .5s;
}

.response h4 {
    margin: 5px 0 0 5px;
}

.response p {
    margin: 0 5px 5px 20px;
}

.response p {
    width: auto;
}

@media screen and (max-width: 750px) {
    #input {
        width: 75vw;
    }

    .submit-btn {
        width: 100%;
        margin: 0;
    }

    .responses {
        width: 80vw;
    }
}
